<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>KoNeK</title>
    
    <!-- Icon -->
    <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <!-- CSS -->
   
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/editPost.css">
    <link rel="stylesheet" href="/css/addpost.css">
    <link rel="stylesheet" href="/css/userList.css">
    <link rel="stylesheet" href="/css/posts.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Box-Icons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    
    
</head>
<body>
    <header class="header-container">
        <div class="header-content bd-container">
            <a href="/" class="logo"><img src="/img/logo.png" alt=""></a>
            <div class="menu-toggle"></div>
                <ul class="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/addPost" class="new-post">New Post</a></li>
                    <li><a href="/" class="profile">Profile</a></li>
                    <li class="mobile"><a href="/profile">Profile</a></li>
                    <li class="mobile"><a href="/settings">Settings</a></li>
                    <li class="mobile"><a href="/logout">Logout</a></li>
                    <div class="user-profile-dropdown">
                        <div class="user-profile">
                            <i class='bx bx-user-circle'><a href="/profile">Account</a></i>
                            <i class='bx bx-cog'><a href="/settings">Settings</a></i>
                            <i class='bx bx-log-out'><a href="/logout">Logout</a> </i>
                        </div>
                    </div>
                </ul>

                
        </div>
</header>

<main class="main-container">
