/* Edit Modal */
.edit-post-content{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 650px;
    border-radius: 4px;
}

.editContent{
    width: 100%;
    padding: 10px;
    resize: none;
    height: 250px;
    border: 1px solid #ccc;
    
}
.close-edit{
    cursor: pointer;
}

.post-title{
    font-size: 2rem;
}

