<%- include('partials/header')%>

<div class="error-page">
    <img src="/img/logo.png" alt="logo">
    <h3>We're sorry.</h3>
    <p>We can't find the page you requested.</p>
    <p>May we direct you to these pages instead? <a href="/index">Home.</a></p>
</div>

<%- include('partials/footer')%>