<%- include('partials/header') %>

<div id="add-post-container" class="add-post-container bd-container">

    
    <!-- Modal content -->
    <div class="add-post-content">
       
        <div class="loading-animation">
            
        </div>

        
<!-- action="/post" method="POST" enctype="multipart/form-data" -->
        <form id="post"  >
            <%- include('partials/errorMessage') %>
            <label for="title" class="title">Title</label>
            <input type="text" name="title" id="post-title" placeholder="Enter Title">

            <label for="content" class="post-contents">Content</label>
            <textarea name="content" id="post-content" class="add-content" placeholder="Enter Content" ></textarea>

            <input type="file" id="upload" name="image" accept="image/jpeg, image/png" hidden/>
            <label for="upload" class="image-upload"><i class='bx bx-image-add add-image'></i><span>Select Image</span></label>

            <input type="submit" name="submit" id="submitPost" value="Post">
        </form>

    </div>
  
  </div>


<%- include('partials/footer.ejs') %>